{% extends 'blog/base.html' %}

{% block content %}

    <div class='posts'>
        {% for post in object_list %}
            <div class='post'>
                <div class="published">{{ post.date }}</div>
                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                <div class="post-content">{{ post.content }}</div>

                <div class="infopanel_wrapper">
                    <div class="infopanel">
                        <div class="pageviews" title="Просмотры поста">20568</div>
                        <div class="author">
                            <a title="Автор текста" href="">Anonymous</a>
                        </div>
                        <div class="comments">
                            <a title="Читать комментарии" href="http://habrahabr.ru/post/215091/#comments">Комментариев: <span class="all">21</span> </a>
                        </div>
                    </div>
                    <!-- <div class="clear"></div> -->
                </div>
            </div>
        {% empty %}
        <p>Нет постов</p>
        {% endfor %}
    </div>

{% endblock %}
